{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>week1 day3</title>
	<link rel="stylesheet" href="{% static 'css/flexcss.css' %}">
</head>
<body>
<h1> Week1 Day3 : Software Exploration </h1>
<hr>
		  <div class="container">
            <div class="container-1">
                  Header
            </div>
            <div class="container-2">
                  <div class="subcontainer1">
                      <div class="block" style="font-size:15px; text-align:center; margin:2px 2px 2px 0; flex:0.5; background-color: #EC80FF; padding:40px;">
                            Hero
                      </div>
                      <div class="block" style="font-size:15px; text-align:center; margin:2px 2px 2px 0; flex:3;background-color:yellowgreen; padding:40px;">
                            Sidebar
                      </div>
                  </div>
                  <div class="subcontainer2">
                      <div class="block" style="background-color:#FCBE11; font-size:15px; margin:2px 0 2px 2px;
                      flex:4; padding:40px; text-align:center;">
                             Main Content
                      </div>
                      <div class="block" style="background-color: #696969; font-size:15px; margin:2px 0 2px 2px;
                      flex:1; padding:40px; text-align:center;">
                            Extra Content
                      </div>
                  </div>
            </div>
            <div class="container-3">
                <div class="block" style="background-color:#03C04A ; font-size:15px;
                margin:2px 0 2px 2px; flex:3; padding:40px; text-align:center;">
                    Related Images
                </div>
                <div class="block" style="background-color:lightpink; font-size:15px; margin:2px 0 2px 2px; flex:1;
                padding:40px; text-align:center; ">
                   Realated Posts
                </div>
            </div>
            <div class="container-4">
                Footer
            </div>
        </div>
</body>
</html>