{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>form project</title>
        <style>
            body{
                background-color: black;
            }
        </style>
    </head>
    <body>
       <video width="1520" height="720" controls="controls">
      <source src="{% static 'bandicam 2020-12-19 21-31-23-588 (1).mp4' %}" type=video/mp4>
    </video>
    </body>
</html>