* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

.navbar {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    background-color: none;
    color: brown;
    font-weight: 600;
}

.brand-title {
    font-size: 1.5rem;
    margin: .5rem;
}

.navbar-links {
    height: 100%;
}

.navbar-links ul {
    display: flex;
    margin: 0;
    padding: 0;
}

.navbar-links li {
    list-style: none;
}

.navbar-links li a {
    display: block;
    text-decoration: none;
    color: white;
    padding: 1rem;
}

.navbar-links li:hover {
    background-color: crimson;
}

.toggle-button {
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}
section img{
    border-radius: 50%;
    width: 20%;
    height: 20%;
    display: flex;
    margin-left: 40%;
}
header div{
    display: flex;
    margin-top: 20px;
    font-size: 40px; color: brown;font-weight: 900;
}
header .text1{
    margin-left: 40%;
}
header .text2{
    margin-left: 36%;
}
article{
    display: flex;
    height: fit-content;
    width: fit-content;
    padding: 10px;
    background-color: brown;
    color: white;
    border: 10%;
    margin-top: 40px;
    margin-left: 45%;
    font-size: 30px;
    border: solid;
}
article:hover{
    background-color: transparent;
    border: solid brown 5px;
    cursor: pointer;
}
@media (max-width: 800px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .toggle-button {
        display: flex;
    }

    .navbar-links {
        display: none;
        width: 100%;
    }

    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }

    .navbar-links ul li {
        text-align: center;
    }

    .navbar-links ul li a {
        padding: .5rem 1rem;
    }

    .navbar-links.active {
        display: flex;
    }
    section img{
        border-radius: 50%;
        width: 40%;
        height: 40%;
        margin-left: 30%;
    }
    header div{
        display: flex;
        margin-top: 20px;
        font-size: 30px;
        font: 600;
    }
    header .text1{
        margin-left: 30%;
    }
    header .text2{
        margin-left: 33%;
    }
    article{
        margin-left: 35%;
    }
}