*{
	margin:0px; padding:0px; 
}
nav{
	width: 100%;height:10vh;
	background: rgba(1,1,1,0.4);color:white;
	display: flex; justify-content: space-between;align-items: center;
	position:fixed;
}
nav.logo{
	width:25%;
	padding-top:15px;
	padding-left:15px;
    color:aqua;
}
nav .logo .logo-image{
     border-radius: 50%;
	 margin-top:15px;
	 margin-left:15px;
}

nav .menu{
	width:40%;
	display: flex;justify-content: space-between;
}
nav .menu a {
	width: 25%;
	text-decoration: none;color: white;
	font-weight: bold;
	font-size: 20px;
	transition: all .3s ease;
}
nav .menu a:hover{
            color: #00b894;
}
main{
	width:100%;
	height:85vh;
	display: flex;justify-content: center;align-items: center;text-align: center;
    color: white;
}
section h1{
    margin:30px 0 20px 0;
    font-size: 55px; 
    font-weight: 700;
    text-shadow: 2px 1px 5px black;
}
section p{
	font-size: 25px;word-spacing: 2px;
	margin-bottom: 25px;text-shadow: 1px 1px 1px black;
}
section a{
	padding: 12px 30px;border-radius: 4px;
	outline: none;font-size: 20px;
	font-weight: bold;text-decoration: none;letter-spacing: 1px;
	background-color: #00b894;color: white;
	transition: all .1s ease;
}
section a:hover{
	background-color: #fff;color:#000;
}
.box2a{
	font-size: 30px;
	color:white;
}
.container1{
	display: flex;
	justify-content: center;align-items: center;text-align: center;
}
.boxa{
	display: flex;
	flex-direction: column;
	 margin: 30px 40px 40px 40px;
    padding: 30px 40px 40px 40px;
	width: 20%;height:100%;
}
.boxa1{
	display: flex;
    width: 20%;height:50%;
	border-top-right-radius: 20%;
	border-top-left-radius: 20%; 
}
.boxa1 img{
    width: 500%;height:100%;
	border-top-right-radius: 20%;
	border-top-left-radius: 20%; 
}
.boxa2{
	display: flex;
	flex-wrap: wrap;
	background-color:white;
	color: black;
	border-bottom-right-radius: 20%;
	border-bottom-left-radius: 20%; 
}
.boxa2 h3{
	font-size: 30px;
	font-weight: solid;
}
.container1 p{
	font-size: 20px;
}
.boxb{
	display: flex;
	flex-direction: column;
	 margin: 30px 40px 40px 40px;
    padding: 30px 40px 40px 40px;
	width: 20%;height:100%;
}
.boxb1{
	display: flex;
	 width: 20%;height:50%;
	border-top-right-radius: 20%;
	border-top-left-radius: 20%; 
}
.boxb1 img{
    width: 500%;height:160px;
	border-top-right-radius: 20%;
	border-top-left-radius: 20%; 
}
.boxb2{
	display: flex;
	flex-wrap: wrap;
	background-color:white;
	color: black;
	border-bottom-right-radius: 20%;
	border-bottom-left-radius: 20%; 
}
.boxb2 h3{
	font-size: 30px;
	font-weight: solid;
}
.boxc{
	display: flex;
	flex-direction: column;
	 margin: 20px 50px 50px 50px;
    padding: 40px 50px 50px 50px;
	width: 20%;height:150%;
}
.boxc1{
	display: flex;
	 width: 20%;height:50%;
	border-top-right-radius: 20%;
	border-top-left-radius: 20%; 
}
.boxc1 img{
    width: 500%;height:160px;
	border-top-right-radius: 20%;
	border-top-left-radius: 20%; 
}
.boxc2{
	display: flex;
	flex-wrap: wrap;
	background-color:white;
	color: black;
	border-bottom-right-radius: 20%;
	border-bottom-left-radius: 20%; 
}
.boxc2 h3{
	font-size: 30px;
	font-weight: solid;
}
.grid{
	display: flex;
	flex-wrap: nowrap;
	width:100vw;height: 40vh;
}
 #section-d .box {
 	display: flex;flex-wrap: nowrap;
    width:50vw;
    background:#2e2e64;
 }
 #section-d .box img{
 	width: 25vw;
 	height: 40vh;
 }
#section-d .boxi{
	display: flex;flex-wrap: wrap;justify-content: center;align-items: center;text-align: center;
	padding: 2em;
    color: #fff;
    width:50vw;
    background: #933f3f;
}
#section-d .boxi p{
	text-transform: uppercase;
}
.grid2{
	display: flex;
	flex-wrap: nowrap;
	width:100vw;height: 5vh;
}
 #main-footer {
 	display: flex;
 	justify-content: space-around;
    padding: 1em;
    background: #000;
    font-size: 20px;
    color: #fff;
    text-align: center;
  }
   #main-footer p{
    color: #2690d4;
    text-decoration: none;
  }
  #main-footer div img{
  	border-radius: 40%;
  	height: 5vh;
  	margin:3px; 
  	padding: 3px;
  }